OPENAI_API_KEY= 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
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
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
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
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
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
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
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
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
TIMEOUT=30000
DEFAULT_MESSAGE="Powered by PanParker
- - Этот веб-сайт используется только в качестве демонстрации проекта и не предоставляет услуги. Пожалуйста, заполните свой собственный ключ. Для долгосрочного использования, пожалуйста, 
- [[Shift]] + [[Enter]] Новая строка. Введите [[/]] или [[пробел]] в начале для поиска пресетов подсказок.  [[↑]] Можно редактировать последний вопрос. Щелкните имя вверху, чтобы прокрутить вверх, и щелкните поле ввода, чтобы прокрутить вниз.  "
DEFAULT_SETTING='{
  "continuousDialogue": true,
  "archiveSession": true,
  "openaiAPIKey": "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",
  "openaiAPITemperature": 60,
  "systemRule": "",
  "model": "gpt-3.5-turbo"
}'
RESET_CONTINUOUS_DIALOGUE_OPTION=false
PASSWORD=
MAX_INPUT_TOKENS='{
  "gpt-3.5-turbo": 3072,
  "gpt-4": 6144,
  "gpt-4-32k": 24576
}'
OPENAI_API_BASE_URL=api.openai.com
SENDKEY=
SENDCHANNEL=9
